﻿span.tag--richtext textarea.ta {border:0;width:100%;height:100%;}
span.tag--richtext #oMainTbl {width:100%;height:100%;border-collapse:collapse;}
span.tag--richtext #oMainTbl td {padding:0;}
span.tag--richtext #oTBar {padding:2px 0;background-color:#f3f3f3;width:100%;position:relative;direction:ltr;z-index:2;}
span.tag--richtext #oHCtrl {position:relative;height:100%;}
span.tag--richtext #oHCtrlWrap {position:relative;width:100%;height:100%;}
span.tag--richtext .limitedBar .limited {display:none;}
span.tag--richtext button {position:relative;font-family:tahoma;font-size:30px; 
width:25px;height:23px;background-color:#f3f3f3;overflow:hidden;border:1px solid #f3f3f3;-moz-user-select:none;-moz-user-focus:ignore;-webkit-user-select:none;-webkit-user-focus:ignore;padding:0;}
span.tag--richtext button.over {border:1px solid silver;background-color:white;}
span.tag--richtext button.selected {border:1px inset #f3f3f3;background-color:#f9f9f9;}
span.tag--richtext button.pressed {border:1px inset #f3f3f3;background-color:white;}
span.tag--richtext .btnImage {position:absolute;top:2px;left:3px;width:16px;height:16px;background:url(Images/richtext.png) no-repeat;overflow:hidden;}
span.tag--richtext .menu {display:inline;margin:0;padding:3px;margin-left:-25px;position:absolute;margin-top:22px;width:140px;visibility:hidden;z-index:1;border:1px solid silver;list-style-type:none !import;list-style-image:none !important;background-color:white;padding-bottom:0;font-size:11px;font-family:tahoma;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
span.tag--richtext .menu table {border:none;}
span.tag--richtext .clrTbl {padding:5px;}
span.tag--richtext .menu button {width:100%;text-align:left;background-color:white;border-color:white;background-image:none;font-size:11px;}
span.tag--richtext .menu .clr {border:1px solid black;width:10px;height:10px;overflow:hidden;margin:3px;font-size:1px;padding:0;}
span.tag--richtext .richDlg {padding-bottom:3px;left:0;width:100%;border-width:1px 0;margin-left:0;}
span.tag--richtext input, span.tag--richtext textarea {width:100%;font-size:11px !important;font-family:tahoma !important;border:1px solid silver;}
span.tag--richtext .richDlg td {font-size:11px;}
span.tag--richtext .richDlg button {width:auto;_width:1px;overflow:visible;text-align:center;text-decoration:underline;color:#497278;padding:0 6px;white-space:nowrap;position:relative;top:-1px;}
span.tag--richtext .htmlAdd {padding-bottom:24px;width:100%;}
span.tag--richtext .htmlAdd button {position:absolute;bottom:0px;right:6px;text-align:right;text-decoration:underline;color:#497278;width:auto;}