﻿body {
-webkit-text-size-adjust:100%;-ms-text-size-adjust:none;-moz-text-size-adjust:none;text-size-adjust:100%;}
img:-moz-loading {    visibility:hidden; 
}
* {-webkit-tap-highlight-color:rgba(0,0,0,0) !important;-webkit-appearance:none !important;}
input[type="checkbox"] {-webkit-appearance:checkbox !important;}
input[type="radio"] {-webkit-appearance:radio !important;}
input, textarea, button, button * {-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important;background-image:none; 
}
body:not([keynavactive]) * {outline:none !important;}
span.tag--dragitem, span.tag--hotspot, span.tag--hotpop, span.tag--mpslider, span.tag--mpvolume, span.tag--hotword, span.tag--hint {-ms-touch-action:none;}
.topLevelLayer {position:relative;background-color:white;}
#oContentArea {position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent !important;background-image:none !important;overflow:hidden;padding:0;}
#oMenuContent, #oMasterContent, #oDocContent {position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent !important;background-image:none !important;}
*[forcetransparent] {pointer-events:none;}
*[forcetransparent] > * {pointer-events:auto;}
#oDocContent {z-index:2 !important;}
#oMenuContent {z-index:1 !important;}
#oMenuContent.above {z-index:3 !important;}
#oMasterContent {z-index:0 !important;}
#oContentArea textarea {resize:none;}
#oContentArea embed {filter:alpha(opacity=0);}
#oContentArea embed.showembed,
#oContentArea span.tag--mplayer embed,
#oContentArea span.tag--blogpost embed {filter:none;} 
span.tag--transalpha {position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;z-index:-10000;text-align:left;direction:ltr;}
span.tag--transalphainner {position:absolute;width:100%;border-top:10000px solid transparent;}
#narrateHolder {position:absolute;top:-10000em;left:0;}
#oMPlayerBar {position:fixed;top:0;left:0;right:0;padding:13px;font-size:16px;font-family:arial;text-align:center;color:rgb(74,100,111);background-color:rgba(246,246,123,0.4);border-bottom:1px solid rgba(74,100,111,0.4);}
#oContentArea *[disabled] {color:gray !important;}
#oContentArea span.tag--variable,
#oContentArea span.tag--rating,
#oContentArea span.tag--blog,
#oContentArea span.tag--login,
#oContentArea span.tag--sort,
#oContentArea span.tag--matching {opacity:0;filter:alpha(opacity=0);}
#oContentArea span.tag--variable.isReady,
#oContentArea span.tag--rating.isReady,
#oContentArea span.tag--blog.isReady,
#oContentArea span.tag--login.isReady,
#oContentArea span.tag--sort.isReady,
#oContentArea span.tag--matching.isReady {opacity:1;filter:none;}
#oContentArea .hideChildren * {visibility:hidden !important;}
#oContentArea .hideColors * {color:black !important;border-color:black !important;}
#oContentArea .hideImages img,
#oContentArea .hideImages embed,
#oContentArea .hideImages object,
#oContentArea .hideImages gmv\:*,
#oContentArea .hideImages v\:* {visibility:hidden !important;}
#oContentArea .hideBG,
#oContentArea .hideBG * {background-image:none !important;background-color:transparent !important;}
#oContentArea [bgposfix] {background-position:left top !important;}
#oContentArea .backLayer {width:100%;height:100%;}
@media print {#oContentArea .backLayer {display:none !important;}
}