﻿
.topLevelLayer {background-color:white;}
span.tag--contentarea {font-size:13px;font-family:arial;}
* {empty-cells:show;z-index:0;}
span.tag--contentarea input, span.tag--contentarea textarea {margin:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:inherit;font-family:inherit;}
span.tag--contentarea span.tag--box {position:absolute;display:inline-block;width:298px;height:118px;border:1px solid black;vertical-align:top;}
span.tag--contentarea span.tag--sysbox {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--hsep {position:absolute;border:0px none;font-size:0px;overflow:hidden;width:80%;height:3px;background-color:black;display:inline-block;}
span.tag--contentarea span.tag--vsep {position:absolute;border:0px none;font-size:0px;overflow:hidden;width:3px;height:80%;background-color:black;display:inline-block;}
span.tag--contentarea span.tag--text {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--header1 {position:absolute;font-size:32px;font-weight:bold;display:inline-block;}
span.tag--contentarea span.tag--header2 {position:absolute;font-size:24px;font-weight:bold;display:inline-block;}
span.tag--contentarea span.tag--header3 {position:absolute;font-size:19px;font-weight:bold;display:inline-block;}
span.tag--contentarea span.tag--footer1 {position:absolute;font-size:13px;font-weight:bold;display:inline-block;}
span.tag--contentarea span.tag--footer2 {position:absolute;font-size:11px;display:inline-block;}
span.tag--contentarea span.tag--instructions {position:absolute;font-size:13px;display:inline-block;}
span.tag--contentarea span.tag--annotation {position:absolute;font-size:13px;font-style:italic;display:inline-block;}
span.tag--contentarea span.tag--quote {position:absolute;font-size:13px;letter-spacing:3px;display:inline-block;}
span.tag--contentarea sub,
span.tag--contentarea sup {display:inline-block;position:relative;}
span.tag--contentarea .textDef {width:300px;vertical-align:top;}
span.tag--contentarea img {-ms-interpolation-mode:bicubic;vertical-align:top;}
span.tag--contentarea table {font-size:13px;background-color:white;}
span.tag--contentarea table.v6 {width:450px;height:120px;border-collapse:collapse;border:1px solid #727272;}
span.tag--contentarea table.v6 td {border:1px solid #727272;}
span.tag--contentarea span.tag--vlink {display:inline-block;position:relative;text-decoration:underline;cursor:pointer;color:#0066cc;vertical-align:top;}
span.tag--contentarea span.tag--vlink * {text-decoration:underline;}
span.tag--contentarea span.tag--vlink.over {color:navy;}
span.tag--contentarea ul {text-indent:0px;}
span.tag--contentarea span.tag--designhint {position:absolute;display:inline-block;border:1px solid black;font-style:normal;font-family:Microsoft Sans Serif;background-color:lightyellow;font-size:12px;padding:2px;visibility:hidden !important; 
}
span.tag--contentarea span.tag--designhint.syswarn {top:0px;right:0px;left:auto;z-index:1000;background-color:#f2dcdb;}
span.tag--contentarea span.tag--oframe {position:absolute;display:inline-block;width:360px;height:240px;border:1px solid #727272;overflow:hidden;vertical-align:top;}
span.tag--contentarea iframe {position:absolute;left:0px;top:0px;width:100%;height:100%;border:0 none;}
span.tag--contentarea span.tag--oframe iframe {background-color:white; 
}
span.tag--contentarea span.tag--flash {position:absolute;display:inline-block;width:100px;height:100px;overflow:hidden;vertical-align:top;left:0px;top:0px;}
span.tag--contentarea span.tag--flash embed {position:absolute;left:0px;top:0px;width:100%;height:100%;}
span.tag--contentarea span.tag--oembed {position:absolute;display:inline-block;overflow:hidden;}
span.tag--contentarea span.tag--oembed embed {position:absolute;left:0px;top:0px;width:100%;height:100%;}
span.tag--contentarea span.tag--dragdrop {position:absolute;display:inline-block;width:636px;height:236px;border:1px solid #d3d3d3;padding:6px;}
span.tag--contentarea span.tag--dragitem {position:absolute;display:inline-block;background-color:white;width:146px;height:16px;border:1px solid skyblue;cursor:pointer;padding:1px;}
span.tag--contentarea span.tag--droparea {position:absolute;display:inline-block;background-color:white;width:146px;height:16px;border:1px solid wheat;padding:1px;}
span.tag--contentarea span.tag--sort {position:absolute;display:inline-block;width:636px;height:236px;border:1px solid #d3d3d3;padding:6px;}
span.tag--contentarea span.tag--sortitem {position:absolute;display:inline-block;background-color:white;left:20px;top:20px;width:146px;border:1px solid skyblue;cursor:pointer;padding:1px;}
span.tag--contentarea span.tag--matching {position:absolute;display:inline-block;width:636px;height:236px;border:1px solid #d3d3d3;padding:6px;}
span.tag--contentarea span.tag--matchsrc {position:absolute;display:inline-block;background-color:white;left:20px;top:20px;width:106px;height:16px;border:1px solid skyblue;cursor:pointer;padding:1px;}
span.tag--contentarea span.tag--matchtgt {position:absolute;display:inline-block;background-color:white;left:190px;top:20px;width:106px;height:16px;border:1px solid wheat;cursor:pointer;padding:1px;}
span.tag--contentarea span.tag--matchline {position:absolute;display:inline-block;overflow:hidden;pointer-events:none;border-top-color:#000000; 
border-right-color:#008000; 
border-left-color:#dc143c; 
}
span.tag--contentarea span.tag--matchline embed {position:absolute;width:100%;height:100%;left:0;top:0;}
span.tag--contentarea span.tag--feedback {position:absolute;display:inline-block;border:1px solid #d3d3d3;width:254px;height:206px;top:20px;right:20px;padding:2px;padding-bottom:0;visibility:hidden;overflow-y:scroll;}
span.tag--contentarea span.tag--fbvalidate {position:absolute;display:inline-block;border:1px solid silver;background-color:white;width:112px;left:20px;bottom:20px;padding:3px;text-align:center;cursor:pointer;}
span.tag--contentarea span.tag--fbright {position:relative;display:block;background-color:whitesmoke;color:green;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--fbwrong {position:relative;display:block;background-color:whitesmoke;color:red;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--fbpartial {position:relative;display:block;background-color:whitesmoke;color:navy;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--fbfinal {position:relative;display:block;background-color:whitesmoke;color:steelblue;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--fbretry {position:relative;display:block;background-color:whitesmoke;color:purple;width:auto;padding:5px;margin-bottom:2px;cursor:pointer;min-width:1px;}
span.tag--contentarea span.tag--fbfix {position:relative;display:block;background-color:whitesmoke;color:teal;width:auto;padding:5px;margin-bottom:2px;cursor:pointer;min-width:1px;}
span.tag--contentarea span.tag--fbclose {position:relative;display:block;background-color:whitesmoke;color:olive;width:auto;padding:5px;margin-bottom:2px;cursor:pointer;min-width:1px;}
span.tag--contentarea span.tag--fbrange {position:relative;display:block;background-color:whitesmoke;color:maroon;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--fbcustom {position:relative;display:block;background-color:whitesmoke;color:orange;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--hint {position:absolute;display:inline-block;visibility:hidden;border:1px solid silver;background-color:white;width:112px;padding:3px;text-align:center;cursor:pointer;}
span.tag--contentarea span.tag--hintpop {position:absolute;display:inline-block;border:1px solid gray;background-color:white;color:black;font-weight:normal;text-align:left;left:0;top:-120px;width:192px;height:92px;padding:3px;cursor:pointer;}
span.tag--contentarea span.tag--hinticon {position:absolute;display:inline-block;width:10px;height:15px;top:3px;left:3px;background-image:url(Default/def_hint.png);background-repeat:no-repeat;border:0 none;}
span.tag--contentarea span.tag--fillblank {position:absolute;display:inline-block;width:614px;height:244px;padding:2px;border:1px solid #d3d3d3;}
span.tag--contentarea span.tag--blankquestion {position:absolute;display:inline-block;left:20px;top:20px;right:300px;bottom:64px;padding:4px;border:1px solid #d3d3d3;line-height:1.5em;z-index:1;}
span.tag--contentarea span.tag--blankitem {position:relative;display:inline-block;width:100px;margin-top:0.5em;margin-bottom:0.5em;white-space:nowrap;}
span.tag--contentarea span.tag--blankitem .correct {border:1px solid green;}
span.tag--contentarea span.tag--blankitem .incorrect {border:1px solid crimson;}
span.tag--contentarea span.tag--blankitem input {position:static;display:inline-block;width:100%;padding:0 1px;border:none;border-bottom:1px dashed black;background-color:transparent;white-space:nowrap;color:inherit;}
span.tag--contentarea span.tag--blankselect {position:absolute;display:inline-block;left:0px;top:-2px;right:0px;bottom:-2px;padding:1px;padding-left:2px;background:white url(Default/def_fillblank.gif) no-repeat center center;border:1px solid black;cursor:pointer;min-width:1px;text-overflow:ellipsis;overflow:hidden;}
span.tag--contentarea span.tag--blankoptions {position:absolute;display:inline-block;padding:1px;padding-bottom:0;background-color:white;border:1px solid #d3d3d3;left:0;top:100%;width:auto;right:0;margin-top:2px;}
span.tag--contentarea span.tag--blankoption {display:block;background-color:whitesmoke;padding-left:2px;margin-bottom:1px;cursor:pointer;width:auto;min-width:1px;position:relative;}
span.tag--contentarea span.tag--blankrange {display:block;background-color:whitesmoke;padding-left:2px;margin-bottom:1px;cursor:default;width:auto;min-width:1px;}
span.tag--contentarea span.tag--blankmask {display:block;background-color:whitesmoke;padding-left:2px;margin-bottom:1px;cursor:default;width:auto;min-width:1px;}
span.tag--contentarea span.tag--hotword {position:relative;display:inline-block;background-color:#ffffc0;cursor:pointer;vertical-align:top;}
span.tag--contentarea span.tag--hotwordpop {position:absolute;display:inline-block;background-color:white;color:black;border:1px solid gray;visibility:hidden;padding:5px;width:138px;height:38px;left:10px;top:24px;}
span.tag--contentarea span.tag--hotspots {position:absolute;display:inline-block;width:1px;height:1px;top:0;left:0;}
span.tag--contentarea span.tag--hotspot {position:absolute;display:inline-block;background-color:whitesmoke;width:148px;height:18px;border:1px solid #c00000;cursor:pointer;}
span.tag--contentarea span.tag--hotpop {position:absolute;display:inline-block;width:148px;height:18px;border:1px solid mediumpurple;background-color:white;}
span.tag--contentarea span.tag--closepop {position:absolute;display:inline-block;width:13px;height:13px;overflow:hidden;background:transparent url(Default/def_closepop.gif) no-repeat center center;top:6px;right:6px;border:0 none;cursor:pointer;}
span.tag--contentarea span.tag--multichoice {position:absolute;display:inline-block;width:648px;height:298px;border:1px solid #d3d3d3;}
span.tag--contentarea span.tag--mcquestion {position:absolute;display:inline-block;width:335px;top:20px;left:20px;}
span.tag--contentarea span.tag--mcanswer {position:absolute;display:inline-block;width:260px;left:35px;padding:3px 30px 3px 30px;cursor:pointer;background-image:url(Plain/def_bullet.gif);background-repeat:no-repeat;}
span.tag--contentarea span.tag--mcanswer.pressed {background-image:url(Plain/def_pressedbullet.gif);}
span.tag--contentarea span.tag--mcanswer.right {background-image:url(Plain/def_rightbullet.gif);}
span.tag--contentarea span.tag--mcanswer.wrong {background-image:url(Plain/def_wrongbullet.gif);}
span.tag--contentarea .oldbullets span.tag--mcanswer {background-image:url(Default/def_bullet.gif);}
span.tag--contentarea .oldbullets span.tag--mcanswer.pressed {background-image:url(Default/def_pressedbullet.gif);}
span.tag--contentarea .oldbullets span.tag--mcanswer.right {background-image:url(Default/def_rightbullet.gif);}
span.tag--contentarea .oldbullets span.tag--mcanswer.wrong {background-image:url(Default/def_wrongbullet.gif);}
span.tag--contentarea .pointclick span.tag--mcanswer {width:96px;height:21px;padding:1px;color:black;cursor:default;background-image:none;background-color:transparent;border:1px solid black;}
span.tag--contentarea .pointclick span.tag--mcanswer.pressed {background-image:none;}
span.tag--contentarea .pointclick span.tag--mcanswer.right {background-image:none;border:1px solid green;}
span.tag--contentarea .pointclick span.tag--mcanswer.wrong {background-image:none;border:1px solid red;}
span.tag--contentarea span.tag--variable {position:relative;display:inline-block;vertical-align:top;}
span.tag--contentarea span.tag--variable.projectTitle,
span.tag--contentarea span.tag--variable.locationTitle {position:absolute;padding:5px;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
span.tag--contentarea span.tag--variable.projectTitle {font-size:18px;}
span.tag--contentarea span.tag--variable.locationTitle {font-size:12px;}
span.tag--contentarea span.tag--navtreemenu {position:absolute;display:inline-block;padding:4px;visibility:hidden;}
span.tag--contentarea span.tag--navmenu {position:absolute;display:inline-block;padding:10px;visibility:hidden;white-space:nowrap;}
span.tag--contentarea span.tag--navtitlewrap {display:block;width:100%;height:100%;overflow:hidden;}
span.tag--contentarea span.tag--navmenu span.tag--navmenublock {white-space:normal;}
span.tag--contentarea span.tag--navmenulevel {position:relative;display:block;border:1px solid silver;min-width:1px;}
span.tag--contentarea span.tag--navtreemenu span.tag--navmenulevel {margin-left:20px;min-width:1px;border:0 none;}
span.tag--contentarea span.tag--navchapter {position:relative;display:block;border:1px solid navy;color:navy;width:140px;height:14px;margin-top:10px;padding:4px;cursor:pointer;background-color:white;font-size:12px;text-overflow:ellipsis;min-width:1px;}
span.tag--contentarea span.tag--navpage {position:relative;display:block;border:1px solid maroon;color:maroon;width:120px;height:14px;margin-top:10px;padding:4px;cursor:pointer;background-color:white;font-size:12px;text-overflow:ellipsis;min-width:1px;}
span.tag--contentarea span.tag--navsubchapter {position:relative;display:block;border:1px solid navy;background-color:white;color:navy;font-size:12px;padding:4px;text-overflow:ellipsis;min-width:1px;}
span.tag--contentarea span.tag--navsubpage {position:relative;display:block;border:1px solid maroon;color:maroon;background-color:white;cursor:pointer;font-size:12px;padding:4px;text-overflow:ellipsis;min-width:1px;}
span.tag--contentarea span.tag--navmarkdone {position:absolute;display:inline-block;left:auto;right:-7px;top:5px;font-size:8px;overflow:hidden;width:13px;height:13px;background:transparent url(Default/def_done.png) no-repeat center center;}
span.tag--contentarea span.tag--navmarkstarted {position:absolute;display:inline-block;left:auto;right:-6px;top:6px;font-size:8px;overflow:hidden;width:11px;height:11px;background:transparent url(Default/def_started.png) no-repeat center center;}
span.tag--contentarea span.tag--navmarkcurrent {position:absolute;display:inline-block;left:-12px;top:6px;font-size:8px;overflow:hidden;width:11px;height:11px;background:transparent url(Default/def_current.png) no-repeat center center;}
span.tag--contentarea span.tag--navtreemenu.compactree {overflow-y:auto;}
span.tag--contentarea span.tag--navtreemenu.compactree span.tag--navmenulevel {width:auto;}
span.tag--contentarea .compactree span.tag--navchapter {border:0 none;color:black;height:auto;margin-top:0;padding:2px;padding-left:12px;background-color:transparent;background-image:none;font-size:11px;font-weight:bold;width:136px;}
span.tag--contentarea .compactree span.tag--navpage {border:0 none;color:black;width:136px;height:auto;margin-top:0;padding:2px;padding-left:12px;background-color:transparent;background-image:none;font-size:11px;font-weight:normal;}
span.tag--contentarea span.tag--navtreemenu.compactree span.tag--navmenulevel {border:0 none;margin-left:12px;}
span.tag--contentarea .compactree span.tag--navmarkdone {left:-9px;right:auto;top:5px;width:11px;height:9px;background:transparent url(Default/menu_done.png) no-repeat center center;}
span.tag--contentarea .compactree span.tag--navmarkstarted {left:-8px;right:auto;top:6px;width:9px;height:7px;background:transparent url(Default/menu_started.png) no-repeat center center;}
span.tag--contentarea .compactree span.tag--navmarkcurrent {left:-10px;top:4px;width:13px;height:11px;background:transparent url(Default/menu_current.png) no-repeat center center;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navmenublock {position:relative;display:inline-block;vertical-align:top;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navmenulevel {margin-top:10px;padding:9px;padding-top:0;font-size:0;text-align:center;display:inline-block;}
span.tag--contentarea span.tag--navmenu.columns.dropdown span.tag--navmenulevel {margin-top:0;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navchapter {margin-right:10px;text-align:left;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navpage {margin-right:10px;width:140px;text-align:left;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navsubchapter {width:120px;height:14px;margin-top:10px;text-align:left;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navsubpage {width:120px;height:14px;margin-top:10px;text-align:left;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navmenublock {position:relative;display:block;white-space:nowrap;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navmenulevel {display:inline-block;margin:0 0 0 10px;white-space:nowrap;border:0px none;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navchapter {display:inline-block;width:80px;height:14px;margin-left:6px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navpage {display:inline-block;width:80px;height:14px;margin-left:6px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navsubchapter {display:inline-block;width:80px;height:14px;margin-left:6px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navsubpage {display:inline-block;width:80px;height:14px;margin-left:6px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navmenublock {position:static;display:block;text-align:left;font-size:0;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navmenulevel {font-size:0;text-align:left;border:0px none;min-width:1px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navchapter {margin-top:4px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navpage {width:140px;margin-top:4px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navsubchapter {width:120px;height:14px;margin-top:4px;margin-left:auto;margin-right:auto;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navsubpage {width:120px;height:14px;margin-top:4px;margin-left:auto;margin-right:auto;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navmenublock {position:static;display:block;text-align:center;font-size:0;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navmenulevel {position:absolute;top:10px;left:200px;padding:10px;padding-bottom:2px;font-size:0;text-align:center;margin-top:0;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navchapter {width:170px;height:14px;margin-top:0;margin-bottom:8px;text-align:left;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navpage {width:170px;height:14px;margin-top:0;margin-bottom:8px;text-align:left;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navsubchapter {width:170px;height:14px;margin-top:0;margin-bottom:8px;text-align:left;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navsubpage {width:170px;height:14px;margin-top:0;margin-bottom:8px;text-align:left;}
span.tag--contentarea span.tag--navcrumbs {position:absolute;display:inline-block;padding:2px;visibility:hidden;white-space:nowrap;vertical-align:top;}
span.tag--contentarea span.tag--navcrumbsprevious {position:relative;display:inline-block;white-space:nowrap;color:#336699;text-decoration:underline;cursor:pointer;}
span.tag--contentarea span.tag--navcrumbssep {position:relative;display:inline-block;width:15px;height:9px;overflow:hidden;background:transparent url(Default/def_breadcrumb_ltr.gif) no-repeat center center;}
span.tag--contentarea span.tag--navcrumbscurrent {position:relative;display:inline-block;white-space:nowrap;color:black;}
span.tag--contentarea span.tag--navbutton {position:absolute;display:inline-block;text-align:center;width:98px;height:20px;padding-top:4px;border:1px solid black;background-color:white;cursor:pointer;z-index:1;-moz-user-select:none;overflow:hidden;vertical-align:top;}
span.tag--contentarea span.tag--navbutton.navlink,
.mobile span.tag--contentarea span.tag--navbutton.navlink {position:relative;font-weight:normal;white-space:nowrap;width:auto;height:auto;border:0 none;background-color:transparent;background-image:none;padding:0;text-decoration:underline;}
span.tag--contentarea span.tag--navpopup {position:absolute;display:inline-block;text-align:center;width:98px;height:20px;padding-top:4px;border:1px solid teal;background-color:white;cursor:pointer;z-index:1;-moz-user-select:none;vertical-align:top;}
span.tag--contentarea span.tag--navprogress {position:absolute;display:inline-block;width:248px;height:16px;border:1px solid black;visibility:hidden;vertical-align:top;}
span.tag--contentarea span.tag--navprogressdone {position:absolute;display:inline-block;width:50%;height:auto;left:0;top:0;background-color:#336699;border-right:0 none;color:white;text-align:right;bottom:0;}
span.tag--contentarea span.tag--navprogressnotdone {position:absolute;display:inline-block;width:50%;height:auto;right:0;top:0;background-color:#dbe2e9;border-left:0 none;color:black;text-align:left;bottom:0;}
span.tag--contentarea span.tag--navtimer {position:absolute;display:inline-block;visibility:hidden;font-size:0;width:148px;height:6px;border:1px solid black;}
span.tag--contentarea span.tag--navtimer span.tag--navprogressdone {font-size:0;overflow:hidden;z-index:1;visibility:hidden;}
span.tag--contentarea span.tag--navtimer span.tag--navprogressnotdone {font-size:0;overflow:hidden;width:auto;text-align:center;font-weight:bold;left:0;padding-top:1px;}
span.tag--contentarea span.tag--navtimer span.tag--navprogressnotdone.digital {font-size:14px;}
span.tag--contentarea span.tag--navtimerpops {position:absolute;display:inline-block;height:0;width:0;top:0;z-index:2;}
span.tag--contentarea span.tag--navtimerpop {position:absolute;display:inline-block;height:26px;width:86px;top:-50px;text-align:center;font-size:12px;padding:6px;background-color:whitesmoke;border:1px solid gray;}
span.tag--contentarea span.tag--navlocator {position:absolute;display:inline-block;width:240px;padding:4px;border:1px solid navy;background-color:white;vertical-align:top;}
span.tag--contentarea span.tag--testfeedback {position:absolute;display:inline-block;border:1px solid #d3d3d3;width:532px;height:434px;padding:8px;padding-bottom:6px;overflow-x:auto;overflow-y:auto;}
span.tag--contentarea span.tag--tfbresults {position:relative;display:block;background-color:whitesmoke;color:navy;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--tfbsummary {position:relative;display:block;background-color:whitesmoke;color:steelblue;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--tfbsummary table {position:relative;width:100%;border-collapse:collapse;border:0;}
span.tag--contentarea span.tag--tfbsummary td {padding:0 4px 0 4px;border:1px solid darkgray;vertical-align:top;}
span.tag--contentarea span.tag--tfbpass {position:relative;display:block;background-color:whitesmoke;color:green;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--tfbfail {position:relative;display:block;background-color:whitesmoke;color:red;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--tfbsections {position:relative;display:block;background-color:whitesmoke;color:steelblue;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--tfbsections table {position:relative;width:100%;border-collapse:collapse;text-align:center;}
span.tag--contentarea span.tag--tfbsections th {padding:0 4px 0 4px;border:1px solid darkgray;vertical-align:top;}
span.tag--contentarea span.tag--tfbsections td {padding:0 4px 0 4px;border:1px solid darkgray;vertical-align:top;}
span.tag--contentarea span.tag--tfbdetails {position:relative;display:block;background-color:whitesmoke;color:steelblue;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--tfbdetails table {position:relative;width:100%;border-collapse:collapse;border:0;text-align:center;}
span.tag--contentarea span.tag--tfbdetails th {padding:0 4px 0 4px;border:1px solid darkgray;vertical-align:top;}
span.tag--contentarea span.tag--tfbdetails td {padding:0 4px 0 4px;border:1px solid darkgray;vertical-align:top;}
span.tag--contentarea span.tag--tfbdetails .correct {color:green;}
span.tag--contentarea span.tag--tfbdetails .incorrect {color:crimson
}
span.tag--contentarea span.tag--tfbdetails .partial {color:navy;}
span.tag--contentarea span.tag--tfbreview {position:relative;display:block;background-color:whitesmoke;color:purple;width:auto;padding:5px;margin-bottom:2px;text-decoration:underline;text-align:right;min-width:1px;}
span.tag--contentarea span.tag--tfbretest {position:relative;display:block;background-color:whitesmoke;color:purple;width:auto;padding:5px;margin-bottom:2px;text-decoration:underline;text-align:right;min-width:1px;}
span.tag--contentarea span.tag--tfbcustom {position:relative;display:block;background-color:whitesmoke;color:navy;width:auto;padding:5px;margin-bottom:2px;min-width:1px;}
span.tag--contentarea span.tag--objtrans {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--narratemute {display:inline-block;position:absolute;width:24px;height:24px;border:1px solid black;background:white url(Default/narron.gif) no-repeat center center;cursor:pointer;z-index:1;vertical-align:top;}
span.tag--contentarea span.tag--narratemute.muted {background-image:url(Default/narroff.gif);}
.mobile-device span.tag--contentarea span.tag--narratemute {cursor:default;opacity:0.3;}
span.tag--contentarea span.tag--ccbox {position:absolute;display:inline-block;border:1px solid black;width:448px;visibility:hidden;vertical-align:top;}
span.tag--contentarea span.tag--ccbutton {display:inline-block;position:absolute;width:24px;height:24px;border:1px solid black;background:white url(Default/ccoff.gif) no-repeat center center;cursor:pointer;z-index:1;vertical-align:top;}
span.tag--contentarea span.tag--ccbutton.active {background-image:url(Default/ccon.gif);}
span.tag--contentarea span.tag--userid {width:232px;height:72px;border:1px solid silver;display:inline-block;padding:8px;overflow:hidden;position:absolute;}
span.tag--contentarea span.tag--userlabel {
position:relative;display:block;margin-bottom:8px;}
span.tag--contentarea span.tag--userid input {width:100%;position:relative;border:2px inset whitesmoke;font-size:90%;padding-left:2px;}
span.tag--contentarea span.tag--usererr {
position:relative;font-weight:bold;color:crimson;display:block;visibility:hidden;margin-top:8px;}
body.inline {background-color:transparent !important; 
}
body.inline .topLevelLayer {background-color:transparent !important; 
}
span.tag--contentarea span.tag--game {position:absolute;display:inline-block;font-family:tahoma;}
span.tag--contentarea span.tag--gamestage {position:absolute;display:inline-block;top:0;left:0;width:auto;height:auto;padding:0;margin:0;z-index:-1;right:0;bottom:0;}
span.tag--contentarea span.tag--gamestage span.tag--flash {position:absolute;top:0;left:0;width:100%;height:100%;padding:0;margin:0;z-index:-2;}
span.tag--contentarea gmgame\:switchbar {position:absolute;display:inline-block;top:0;left:0;width:100%;height:16px;padding:0;margin:0;z-index:10000;}
span.tag--contentarea span.tag--gamelayer {position:absolute;top:0;left:0;width:auto;height:auto;padding:0;display:none;z-index:3;right:0;bottom:0;}
span.tag--contentarea span.tag--gamelayer.commonLayer {display:inline-block;z-index:5;}
span.tag--contentarea span.tag--gamelayer.popupLayer {z-index:9;}
span.tag--contentarea #qlayer {position:absolute;top:0;left:0;width:auto;height:auto;margin:0;z-index:10;display:inline-block;right:0;bottom:0;}
span.tag--contentarea span.tag--gamelayer.helpLayer {z-index:15;}
span.tag--contentarea span.tag--gamelayer .backLayer {position:absolute;left:0;top:0;width:auto;height:auto;right:0;bottom:0;}
span.tag--contentarea span.tag--gamelayer embed {position:absolute;z-index:-1;width:100%;height:100%;top:0;left:0;}
span.tag--contentarea span.tag--gamelayer span.tag--gametxtfld {position:absolute;display:inline-block;width:80%;top:20%;left:10%;}
span.tag--contentarea span.tag--gamelayer span.tag--gameframe {position:absolute;display:inline-block;background-color:white;width:70%;height:70%;left:20%;top:20%;}
span.tag--contentarea span.tag--gamelayer span.tag--gamecontinue {position:absolute;display:inline-block;right:2%;bottom:2%;visibility:hidden;cursor:pointer;}
span.tag--contentarea span.tag--gamelayer span.tag--gamecontinue span.tag--gametxtfld {text-align:center;font-size:15px;font-weight:bold;color:white;}
span.tag--contentarea span.tag--gamelayer span.tag--gameswap {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--gameswap span.tag--gametxtfld {text-align:center;font-size:12px;font-weight:bold;}
span.tag--contentarea span.tag--gamelayer span.tag--game5050 {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--game5050 span.tag--gametxtfld {text-align:center;font-size:12px;font-weight:bold;}
span.tag--contentarea span.tag--gamelayer span.tag--gamenew {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--gamenew span.tag--gametxtfld {text-align:center;font-size:15px;font-weight:bold;}
span.tag--contentarea span.tag--gamelayer span.tag--gamesound {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--gamesolve {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--gamehelp {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer .navNext {position:absolute;display:inline-block;border:0 none;width:20%;height:13%;}
span.tag--contentarea span.tag--gamelayer .navNext span.tag--navbutton {border:0 none;background:transparent none;padding:0;margin:0;width:auto;height:auto;top:0;left:0;font-weight:normal;white-space:nowrap;right:0;bottom:0;}
span.tag--contentarea span.tag--gamelayer .navNext span.tag--navbutton span.tag--gametxtfld {width:auto;top:0;left:0;text-align:center;font-size:12px;font-weight:bold;color:white;text-decoration:underline;right:0;}
span.tag--contentarea span.tag--gamelayer span.tag--gamescorefld {position:absolute;display:inline-block;width:80%;top:16%;left:10%;font-size:15px;font-weight:bold;}
span.tag--contentarea span.tag--gamelayer span.tag--gamescore1 {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--gamescore2 {position:absolute;display:inline-block;}
span.tag--contentarea span.tag--gamelayer .logo {position:absolute;border:0 none;}
span.tag--contentarea span.tag--gamelayer span.tag--gametimer {position:absolute;border:0 none;text-align:center;display:inline-block;}
span.tag--contentarea span.tag--gamelayer span.tag--gametimer span.tag--navtimer {top:25%;left:0;width:auto;border:0 none;right:0;height:20px;}
span.tag--contentarea span.tag--gamelayer span.tag--gametimer span.tag--navtimer span.tag--navprogressdone {width:0;height:0;}
span.tag--contentarea span.tag--gamelayer span.tag--gametimer span.tag--navtimer span.tag--navprogressnotdone {background-color:transparent;font-size:14px;border:0 none black;padding-top:0;}
span.tag--contentarea span.tag--gamelayer .final {position:absolute;border:0 none;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gametxtfld {text-align:center;font-size:15px;font-weight:bold;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gamefbmain {position:absolute;display:inline-block;text-align:center;width:auto;top:50%;left:0;right:0;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gamefbnoquestions {position:absolute;display:inline-block;text-align:center;width:auto;top:59%;visibility:hidden;left:0;right:0;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gamefbtimeout {position:absolute;display:inline-block;text-align:center;width:auto;top:68%;visibility:hidden;left:0;right:0;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gamefbmain span.tag--gametxtfld {font-size:12px;top:0px;left:0px;width:auto;right:0;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gamefbnoquestions span.tag--gametxtfld {font-size:12px;top:0px;left:0px;width:auto;right:0;}
span.tag--contentarea span.tag--gamelayer .final span.tag--gamefbtimeout span.tag--gametxtfld {font-size:12px;top:0px;left:0px;width:auto;right:0;
}
span.tag--contentarea span.tag--gamelayer .help {position:absolute;border:0 none;width:60%;height:60%;top:20%;left:20%
}
span.tag--contentarea span.tag--gamelayer .help span.tag--gametxtfld {text-align:left;font-size:15px;font-weight:bold;}
span.tag--contentarea span.tag--gamelayer span.tag--testfeedback {left:30%; 
top:30%;width: 278px; 
height: 138px;border:0 none;}
span.tag--contentarea span.tag--flashape {position:absolute;display:inline-block;width:150px;height:150px;text-align:center;font-size:0px;overflow:hidden;vertical-align:top;}
span.tag--contentarea span.tag--flashape embed {position:absolute;width:100%;height:100%;left:0;top:0;}
span.tag--contentarea span.tag--flashape canvas {position:absolute;width:100%;height:100%;left:0;top:0;}
span.tag--contentarea span.tag--shapelabel {display:inline-block;position:absolute;font-size:12px;width:60%;left:20%;top:45%;text-align:center;}
span.tag--contentarea span.tag--mplayer {display:inline-block;position:absolute;width:322px;height:242px;cursor:default;}
span.tag--contentarea span.tag--mplayer span.tag--mpstage {display:inline-block;position:absolute;top:0;left:0;background-color:black;width:auto;height:auto;border:1px solid gray;right:0;bottom:0;}
span.tag--contentarea span.tag--mplayer span.tag--mpstage embed, span.tag--contentarea span.tag--mplayer span.tag--mpstage object, span.tag--mpstage video {display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols {display:inline-block;position:absolute;bottom:-23px;left:0;width:auto;height:22px;border:1px solid gray;background:silver url(Default/mpcontrols.gif) repeat-x left top;overflow:hidden;right:0;}
span.tag--contentarea span.tag--mplayer.audio {height:24px;overflow:hidden;}
span.tag--contentarea span.tag--mplayer.audio span.tag--mpcontrols {top:0;bottom:auto;}
span.tag--contentarea span.tag--mplayer.audio span.tag--mpstage {top:-10000px;bottom:auto;height:1px;}
span.tag--contentarea span.tag--mplayer.YouTube {width:427px;height:258px;}
span.tag--contentarea span.tag--mplayer span.tag--mpstage.wtrans,
span.tag--contentarea span.tag--mplayer.theme span.tag--mpstage.wtrans {background-color:transparent;border-style:none;}
span.tag--contentarea span.tag--mplayer span.tag--mpplay {display:inline-block;position:absolute;top:0;left:3px;width:20px;height:22px;cursor:pointer;background:transparent url(Default/mpplay.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpplay.over {background:transparent url(Default/mpplayover.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpplay.pause {background:transparent url(Default/mppause.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpplay.pauseover {background:transparent url(Default/mppauseover.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpplay.buffering {background:transparent url(Default/mpbuffer.gif) no-repeat center center !important; 
cursor:default !important; 
}
span.tag--contentarea span.tag--mplayer span.tag--mpslider {display:inline-block;position:absolute;top:9px;left:33px;right:156px;width:auto;height:4px;font-size:0;background-color:#efefef;border:1px solid #cecece;}
span.tag--contentarea span.tag--mplayer span.tag--mpslider span.tag--mpbuffered {display:inline-block;position:absolute;top:0;left:0;width:0%;height:auto;font-size:0;background-color:#acacac;border-top:1px solid #cccccc;bottom:0;}
span.tag--contentarea span.tag--mplayer span.tag--mpslider span.tag--mpplayed {display:inline-block;position:absolute;top:0;left:0;width:0%;height:auto;font-size:0;background-color:#87a5a9;border-top:1px solid #a9c1c5;bottom:0;}
span.tag--contentarea span.tag--mplayer span.tag--mpslider span.tag--mpsthumb {display:inline-block;position:absolute;top:-5px;left:0%;width:7px;height:14px;cursor:pointer;margin-left:-3px;background:transparent url(Default/mpsthumb.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpslider span.tag--mpbuffered { width:70%; }
span.tag--contentarea span.tag--mplayer span.tag--mpslider span.tag--mpplayed { width:40%; }
span.tag--contentarea span.tag--mplayer span.tag--mpslider span.tag--mpsthumb { left:40%; }
span.tag--contentarea span.tag--mplayer span.tag--mpstatus {display:inline-block;position:absolute;top:4px;right:76px;width:66px;height:13px;text-align:center;padding-top:2px;font-family:tahoma;font-size:9px;font-weight:normal;color:white;background-color:#606060;}
span.tag--contentarea span.tag--mplayer span.tag--mpvolume {display:inline-block;position:absolute;top:10px;right:25px;width:38px;height:2px;font-size:0;background-color:#efefef;border:1px solid #cecece;}
.mobile-device span.tag--contentarea span.tag--mplayer span.tag--mpvolume, .mobile-device span.tag--contentarea span.tag--mplayer span.tag--mpmute {display:none;}
span.tag--contentarea span.tag--mplayer span.tag--mpvolume span.tag--mpvthumb {display:inline-block;position:absolute;top:-4px;left:30px;width:7px;height:10px;font-size:0;cursor:pointer;margin-left:-3px;background:transparent url(Default/mpvthumb.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpmute {display:inline-block;position:absolute;top:6px;right:5px;width:14px;height:11px;font-size:0;cursor:pointer;background:transparent url(Default/mpsoundon.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpmute.on {background:transparent url(Default/mpsoundoff.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer span.tag--mpsep {display:inline-block;position:absolute;top:0;width:0px;height:22px;font-size:0;overflow:hidden;border-left:1px solid #8d8d8d;border-right:1px solid #f5f5f5;}
span.tag--contentarea span.tag--mplayer span.tag--mpsep.first {left:24px;}
span.tag--contentarea span.tag--mplayer span.tag--mpsep.second {right:70px;}
span.tag--contentarea span.tag--mplayer span.tag--mpsep.third {right:145px;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.none {bottom:auto;top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--mplayer.audio span.tag--mpcontrols.none { 
top:0;display:none;width:26px;}
span.tag--contentarea span.tag--mplayer.audio span.tag--mpcontrols.none span.tag--mpsep.first, span.tag--contentarea span.tag--mplayer.audio span.tag--mpcontrols.none span.tag--mpmute { 
top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.noslider span.tag--mpslider {top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.novolume span.tag--mpvolume, span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.novolume span.tag--mpmute, span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.novolume span.tag--mpsep.second  {top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.novolume span.tag--mpstatus {right:5px;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.novolume span.tag--mpsep.third {right:75px;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.nostatus span.tag--mpstatus, span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.nostatus span.tag--mpsep.third {top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.compact span.tag--mpslider, span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.compact span.tag--mpvolume, span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.compact span.tag--mpmute, span.tag--contentarea span.tag--mplayer span.tag--mpcontrols.compact span.tag--mpstatus, span.tag--mpcontrols.compact span.tag--mpsep.third, span.tag--mpcontrols.compact span.tag--mpsep.second {top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--mplayer.audio span.tag--mpcontrols.compact {width:26px;}
span.tag--contentarea span.tag--mplayer.audio span.tag--mpcontrols.compact span.tag--mpsep.first {top:-2000px !important; 
display:none;}
span.tag--contentarea span.tag--youtube {display:inline-block;position:absolute;width:425px;height:256px;border:1px solid gray;background-color:whitesmoke;overflow:hidden;}
#oEditors span.tag--contentarea span.tag--youtube {background:whitesmoke url(../core/gmEditor/icons/yt.gif) no-repeat right bottom;}
span.tag--contentarea span.tag--usearch {width:362px;height:44px;display:inline-block;padding:8px;padding-right:60px;position:absolute;overflow:visible;font-size:12px;}
span.tag--contentarea span.tag--usearch input.input {width:100%;position:relative;padding-left:2px;border:1px solid #c5c5c5;}
span.tag--contentarea span.tag--usearch span.tag--uengines {position:absolute;display:inline-block;left:7px;right:7px;top:35px;white-space:nowrap;}
span.tag--contentarea span.tag--usearch span.tag--uengine {position:relative;display:inline-block;padding-right:8px;white-space:nowrap;float:left;margin-bottom:5px;}
span.tag--contentarea span.tag--usearch span.tag--uengine label {white-space:nowrap;position:relative;top:-1px;}
span.tag--contentarea span.tag--usearch span.tag--uengine input.uradio {position:relative;margin-right:3px;top:0;}
span.tag--contentarea span.tag--usearch span.tag--ubtn {position:absolute;display:inline-block;color:black;text-decoration:underline;padding-left:2px;right:10px;top:11px;cursor:pointer;}
span.tag--contentarea span.tag--usearch span.tag--usearchframe {position:absolute;border:1px solid #c5c5c5;top:65px;left:10px;width:408px;height:198px;}
span.tag--contentarea span.tag--chart {position:absolute;display:inline-block;width:300px;height:150px;}
span.tag--contentarea span.tag--chart img {position:absolute;top:0;left:0;display:inline-block;}
span.tag--contentarea span.tag--cdataset {position:absolute;top:102%;left:0;border:2px solid silver;width:108px;height:88px;overflow-y:scroll;padding:4px;display:inline-block;visibility:hidden;background-color:white;}
span.tag--contentarea span.tag--cpoint {position:relative;display:block;border:2px solid silver;width:auto;height:12px;margin-bottom:4px;padding:2px;font-size:9px;min-width:1px;}
span.tag--contentarea span.tag--blog {display:inline-block;position:absolute;width:600px;height:370px;}
span.tag--contentarea span.tag--blognav {display:inline-block;position:absolute;left:0;top:0;width:auto;height:16px;right:0;}
span.tag--contentarea span.tag--blognavprev {display:inline-block;height:16px;cursor:pointer;position:absolute;left:35%;width:25%;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
span.tag--contentarea span.tag--blognavnext {display:inline-block;height:16px;cursor:pointer;position:absolute;right:0;width:25%;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
span.tag--contentarea span.tag--blogcontainer {display:inline-block;position:absolute;left:0;top:16px;bottom:0;width:auto;height:auto;border:1px solid #d3d3d3;overflow:auto;right:0;}
span.tag--contentarea span.tag--blogwidgets {display:inline-block;position:absolute;left:2%;top:0;width:31%;overflow-x:hidden;}
span.tag--contentarea span.tag--blogrecent, span.tag--contentarea span.tag--blogrecentcom, span.tag--contentarea span.tag--blogarchive, span.tag--contentarea span.tag--blogcategories, span.tag--contentarea span.tag--blogtagcloud, span.tag--contentarea span.tag--blogtoprated {position:relative;display:block;width:auto;font-size:11px;border:1px solid #d3d3d3;margin-top:13px;padding-bottom:4px;overflow-x:hidden;min-width:1px;}
span.tag--contentarea span.tag--blogwidgettitle {display:block;position:relative;width:auto;font-size:13px;font-weight:bold;padding:4px;border-bottom:1px solid #d3d3d3;min-width:1px;}
span.tag--contentarea span.tag--blogwidgetpost {display:block;position:relative;width:auto;height:32px;margin:3px 5px;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-width:1px;}
span.tag--contentarea span.tag--blogwidgetpost.singleRow {height:16px;}
span.tag--contentarea span.tag--blogrecentcom span.tag--variable.postTitle, span.tag--contentarea span.tag--blogrecent span.tag--variable.postTitle,
span.tag--contentarea span.tag--blogarchive span.tag--variable.postTitle {display:block;position:relative;width:auto;font-weight:bold;min-width:1px;}
span.tag--contentarea span.tag--blogrecentcom span.tag--variable.postText {display:block;position:relative;width:auto;padding:3px;min-width:1px;}
span.tag--contentarea span.tag--blogarchivegrp {display:block;position:relative;width:auto;margin:3px 5px;font-weight:bold;cursor:pointer;min-width:1px;}
span.tag--contentarea span.tag--blogarchive span.tag--blogwidgetpost {margin-left:20px;}
span.tag--contentarea span.tag--blogtagcloud span.tag--blogwidgetpost {display:inline-block;height:auto;}
span.tag--contentarea span.tag--blognavhome, span.tag--contentarea span.tag--blognavadd, span.tag--contentarea span.tag--blognavedit, span.tag--contentarea span.tag--blognavdel, span.tag--contentarea .feedlink {position:relative;display:block;width:auto;font-size:12px;font-weight:bold;padding:4px;border:1px solid #d3d3d3;margin-top:13px;cursor:pointer;min-width:1px;}
span.tag--contentarea span.tag--vlink.feedlink {border:none;background-image:url(Default/feed_icon.gif);background-repeat:no-repeat;background-position:0px center;padding-left:35px;}
span.tag--contentarea span.tag--blogposts {display:inline-block;position:relative;left:35%;top:0;width:63%;}
span.tag--contentarea span.tag--blogpost {display:block;position:relative;width:auto;margin:13px 0;border:1px solid #d3d3d3;min-width:1px;}
span.tag--contentarea span.tag--blogpost .postTitle {display:block;position:relative;width:auto;padding:4px;font-size:14px;font-weight:bold;cursor:pointer;word-wrap:break-word;min-width:1px;}
span.tag--contentarea .singlepost span.tag--blogpost .postTitle {cursor:default;}
span.tag--contentarea span.tag--blogpost .postText {display:block;position:relative;width:auto;padding:12px;word-wrap:break-word;font-size:12px;min-width:1px;}
span.tag--contentarea span.tag--blogpost span.tag--blogpostellipsis {display:inline-block;cursor:pointer;}
span.tag--contentarea span.tag--blogpost .postDetails {display:block;position:relative;width:auto;background-color:#d3d3d3;padding:3px 5px;font-size:10px;word-wrap:break-word;min-width:1px;}
span.tag--contentarea span.tag--blogpost span.tag--variable.postAuthor, span.tag--contentarea span.tag--blogpost span.tag--variable.postDate, span.tag--contentarea span.tag--blogpost span.tag--variable.postTags {font-weight:bold;}
span.tag--contentarea span.tag--blogpost .postTextVar {width:auto;min-width:1px;}
span.tag--contentarea span.tag--blogpost .permalink {display:inline-block;}
span.tag--contentarea span.tag--blogpostedit {display:inline-block;position:absolute;left:35%;top:0;width:63%;padding-top:13px;}
span.tag--contentarea span.tag--blogpostedit span.tag--notice {display:block;position:relative;width:auto;font-size:14px;font-weight:bold;margin-bottom:7px;min-width:1px;}
span.tag--contentarea span.tag--blogtitlelabel, span.tag--contentarea span.tag--blogauthorlabel, span.tag--contentarea span.tag--blogtagslabel, span.tag--contentarea span.tag--blogtextlabel {position:relative;display:block;width:auto;min-width:1px;}
span.tag--contentarea span.tag--blog input {
position:relative;display:block;width:100%;border:1px solid black;}
span.tag--contentarea span.tag--blog span.tag--richtext {position:relative;display:block;width:auto;height:188px;border:1px solid black;z-index:500;min-width:1px;}
span.tag--contentarea span.tag--blogsubmit {position:relative;margin-top:5px;display:inline-block;text-align:center;width:98px;height:20px;padding-top:4px;border:1px solid black;background-color:white;cursor:pointer;}
span.tag--contentarea span.tag--blogcom {display:block;position:relative;width:85%;font-size:11px;min-width:1px;}
span.tag--contentarea span.tag--blogcom input {font-size:11px;}
span.tag--contentarea span.tag--blogcompost {display:block;position:relative;width:auto;margin-bottom:5px;border:1px solid #d3d3d3;min-width:1px;}
span.tag--contentarea span.tag--blogcompost .comAuthor {display:block;position:relative;width:auto;padding:4px;font-size:11px;font-weight:bold;word-wrap:break-word;min-width:1px;}
span.tag--contentarea span.tag--blogcompost .comText {display:block;position:relative;width:auto;padding:0 5px;word-wrap:break-word;min-width:1px;}
span.tag--contentarea span.tag--blogcompost .comDate {display:block;position:relative;width:auto;padding:4px;text-align:right;font-size:9px;min-width:1px;}
span.tag--contentarea span.tag--blogcompost .permalink {display:inline-block;font-size:10px;}
span.tag--contentarea span.tag--blogcomedit {position:relative;display:block;width:auto;padding:4px;padding-top:0;border:1px solid #d3d3d3;min-width:1px;}
span.tag--contentarea span.tag--blogcomedit span.tag--notice {display:block;position:relative;width:auto;font-weight:bold;margin:3px 0;min-width:1px;}
span.tag--contentarea span.tag--blogcomedit span.tag--richtext {height:150px;}
span.tag--contentarea span.tag--blog .over {color:red;}
span.tag--contentarea span.tag--blog.docComs {width:300px;height:250px;font-size:10px;}
span.tag--contentarea .docComs span.tag--blogcontainer {top:0;}
span.tag--contentarea .docComs span.tag--blogposts {left:0;top:25px;width:100%;right:0;}
span.tag--contentarea .docComs span.tag--blogpostedit {left:0;top:25px;width:auto;padding:4px;right:0;}
span.tag--contentarea .docComs span.tag--blogpostedit  span.tag--richtext {font-size:12px;}
span.tag--contentarea .docComs span.tag--blogpostedit span.tag--notice {margin:5px 0;}
span.tag--contentarea .docComs span.tag--blognavadd, span.tag--contentarea .docComs span.tag--blognavhome, span.tag--contentarea .docComs span.tag--blogsubmit {display:inline-block;text-align:center;font-weight:normal;font-size:10px;width:68px;height:16px;padding:0;padding-top:3px;margin-top:5px;border:1px solid black;background-color:transparent;}
span.tag--contentarea .docComs span.tag--blognavadd {left:5px;width:100px;}
span.tag--contentarea .docComs span.tag--blogsubmit {left:5px;}
span.tag--contentarea .docComs span.tag--blogpost {margin:5px;border:1px solid black;}
span.tag--contentarea .docComs span.tag--blogpost .postAuthor {display:block;position:relative;width:auto;padding:4px;font-size:11px;font-weight:bold;word-wrap:break-word;min-width:1px;}
span.tag--contentarea .docComs span.tag--blogpost .postText {padding:0 5px;}
span.tag--contentarea .docComs span.tag--blogpost .postDate {display:block;position:relative;width:auto;padding:4px;text-align:right;font-size:9px;min-width:1px;}
span.tag--contentarea .docComs span.tag--blogpost span.tag--rating {position:relative;display:block;text-align:left;padding-left:4px;min-width:1px;}
span.tag--contentarea .docTwit span.tag--blogposts {left:0;top:0;width:100%;right:0;}
span.tag--contentarea .docTwit span.tag--blogpost .postDateAuthor {display:block;position:relative;width:auto;padding:4px;text-align:left;font-size:9px;background-color:#f1f1f1;white-space:nowrap;overflow:hidden;min-width:1px;}
span.tag--contentarea .docTwit span.tag--blogpost .postText {padding:4px 4px 8px 4px;}
span.tag--contentarea span.tag--fblike {position:absolute;display:inline-block;width:450px;height:65px;visibility:hidden;}
span.tag--contentarea span.tag--login {display:inline-block;position:absolute;padding:4px;border:1px solid #d3d3d3;z-index:100;cursor:pointer;}
span.tag--contentarea span.tag--loginform {display:inline-block;position:absolute;width:190px;top:-1px;left:55px;padding:4px;border:1px solid #d3d3d3;background-color:white;font-size:11px;cursor:default;}
span.tag--contentarea span.tag--loginform span.tag--notice {display:block;position:relative;width:auto;padding-bottom:3px;margin-bottom:3px;border-bottom:1px solid #d3d3d3;min-width:1px;}
span.tag--contentarea span.tag--loginuserlabel, span.tag--contentarea span.tag--loginpasslabel, span.tag--contentarea span.tag--loginrepasslabel, span.tag--contentarea span.tag--loginreglabel {position:relative;display:block;width:auto;margin-top:3px;min-width:1px;}
span.tag--contentarea span.tag--loginform input {position:relative;display:block;width:100%;border:1px solid black;margin-bottom:4px;}
span.tag--contentarea span.tag--loginreglabel {border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;padding:0 2px;font-size:10px;}
span.tag--contentarea span.tag--loginsubmit, span.tag--contentarea span.tag--loginregister {position:relative;display:inline-block;padding:2px;width:74px;left:110px;text-align:center;border:1px solid black;cursor:pointer;}
span.tag--contentarea span.tag--rating {display:inline-block;position:absolute;font-size:9px;text-align:center;white-space:nowrap;min-width:1px;}
span.tag--contentarea span.tag--ratingon,
span.tag--contentarea span.tag--ratingoff,
span.tag--contentarea span.tag--ratingedit,
span.tag--contentarea span.tag--ratingsplit {position:relative;display:inline-block;}
span.tag--contentarea span.tag--ratingon img,
span.tag--contentarea span.tag--ratingoff img,
span.tag--contentarea span.tag--ratingedit img,
span.tag--contentarea span.tag--ratingsplit img {position:relative;}
span.tag--contentarea span.tag--ratinginfo {display:block;}
span.tag--contentarea span.tag--survey {display:inline-block;position:absolute;width:648px;height:378px;border:1px solid #d3d3d3;font-size:0;}
span.tag--contentarea span.tag--svcont {display:inline-block;position:absolute;top:0;bottom:60px;width:auto;padding:15px 15px 0 15px;overflow-y:auto;overflow-x:visible;border-bottom:1px solid #d3d3d3;font-size:13px;left:0;right:0;}
span.tag--contentarea span.tag--svitem {display:block;position:relative;width:auto;height:auto;margin-bottom:10px;padding-bottom:16px;border-bottom:1px solid #d3d3d3;min-width:1px;}
span.tag--contentarea span.tag--svsend {display:inline-block;position:absolute;width:78px;height:19px;right:10px;bottom:10px;padding-top:3px;font-size:13px;font-weight:bold;background-color:#eaeaea;border:1px solid #d3d3d3;text-align:center;cursor:pointer;}
span.tag--contentarea span.tag--svsendmsg {display:inline-block;position:absolute;height:19px;left:10px;right:188px;bottom:10px;padding:3px 3px 0 3px;background-color:white;border:1px solid #d3d3d3;visibility:hidden;font-size:13px;}
span.tag--contentarea span.tag--svquestion {display:block;width:85%;position:relative;min-width:1px;}
span.tag--contentarea span.tag--survey span.tag--rating {left:auto;right:0;top:0;}
span.tag--contentarea span.tag--survey textarea {width:100%;height:44px;margin:6px 0;border:1px solid #d3d3d3;background-color:#fdfdfd;color:black;font-size:13px;padding:2px;}
span.tag--contentarea span.tag--cmpscript {position:absolute;top:-2000px;display:none;}
span.tag--contentarea span.tag--lbglobal {position:absolute;top:-2000px;display:none;}
span.tag--contentarea span.tag--lbthumb {display:inline-block;position:absolute;width:150px;height:150px;border:1px solid silver;background-position:center center;background-color:white;background-repeat:no-repeat;background-image:url(Default/def_lbthumb.png);cursor:pointer;}
span.tag--contentarea span.tag--textart {position:absolute;display:inline-block;width:330px;height:120px;border:0 none;font-family:verdana;font-size:40px;color:#2b7988;font-weight:bold;font-style:normal;vertical-align:top;}
#oTopLevelLayer #oColorScheme {-cp-scheme: "ffffff,000000,eeece1,1f497d,4f81bd,c0504d,9bbb59,8064a2,4bacc6,f79646";}