﻿
span.tag--contentarea {color:#4a646f;background-color:white;}
span.tag--contentarea span.tag--box {border:1px solid #4a646f;}
span.tag--contentarea span.tag--header1 {color:#4a646f;}
span.tag--contentarea span.tag--header2 {color:#4a646f;}
span.tag--contentarea span.tag--header3 {color:#4a646f;}
span.tag--contentarea span.tag--footer1 {color:#4a646f;}
span.tag--contentarea span.tag--annotation {color:#4a646f;}
span.tag--contentarea span.tag--vlink {color:#4a646f;}
span.tag--contentarea span.tag--vlink.over {color:#4a646f;}
span.tag--contentarea ul {list-style-image:url(crispGreen/bullet.gif);}
span.tag--contentarea span.tag--dragdrop {border:0 none;width:638px;height:238px;}
span.tag--contentarea span.tag--dragitem {border:1px solid #4a646f;}
span.tag--contentarea span.tag--droparea {border:1px solid #7b888e;}
span.tag--contentarea span.tag--sort {border:0 none;width:638px;height:238px;}
span.tag--contentarea span.tag--sortitem {border:1px solid #4a646f;}
span.tag--contentarea span.tag--matching {border:0 none;width:638px;height:238px;}
span.tag--contentarea span.tag--matchsrc {border:1px solid #4a646f;}
span.tag--contentarea span.tag--matchtgt {border:1px solid #7b888e;}
span.tag--contentarea span.tag--feedback {border:0 none;width:256px;height:208px;}
span.tag--contentarea span.tag--fbvalidate {border:0 none;background:white url(crispGreen/btn_check.gif) no-repeat center center;background-color:transparent;height:24px;padding-top:10px;color:#3f515c;font-weight:bold;width:114px;}
span.tag--contentarea span.tag--fbright {border:1px solid #cde183;background:white url(crispGreen/fb_correct.gif) no-repeat right top;font-weight:bold;height:53px;color:#4a646f;}
span.tag--contentarea span.tag--fbwrong {border:1px solid #cde183;background:white url(crispGreen/fb_incorrect.gif) no-repeat right top;font-weight:bold;height:53px;color:#4a646f;}
span.tag--contentarea span.tag--fbpartial {border:1px solid #cde183;background:white url(crispGreen/fb_partial.gif) no-repeat right top;font-weight:bold;height:53px;color:#4a646f;}
span.tag--contentarea span.tag--fbfinal {border:1px solid #cde183;background:white;font-weight:bold;height:53px;color:#4a646f;}
span.tag--contentarea span.tag--fbretry {background-color:transparent;font-weight:bold;text-align:right;text-decoration:underline;color:#4a646f;}
span.tag--contentarea span.tag--fbfix {background-color:transparent;font-weight:bold;text-align:right;text-decoration:underline;color:#4a646f;}
span.tag--contentarea span.tag--fbclose {background-color:transparent;font-weight:bold;text-align:right;text-decoration:underline;color:#4a646f;}
span.tag--contentarea span.tag--fbrange {border:1px solid #cde183;background:white;font-weight:bold;height:40px;color:#4a646f;}
span.tag--contentarea span.tag--fbcustom {border:1px solid #cde183;background:white;font-weight:bold;height:40px;color:#4a646f;}
span.tag--contentarea span.tag--hint {border:0 none;background:white url(crispGreen/btn_check.gif) no-repeat center center;background-color:transparent;width:114px;height:24px;padding-top:10px;color:#3f515c;font-weight:bold;}
span.tag--contentarea span.tag--hinticon {top:11px;left:6px;}
span.tag--contentarea span.tag--fillblank {border:0 none;width:616px;height:246px;}
span.tag--contentarea span.tag--blankquestion {border:0 none;}
span.tag--contentarea span.tag--blankitem input {border-bottom:1px dashed #4a646f;color:#4a646f;}
span.tag--contentarea span.tag--blankselect {border:1px solid #4a646f;}
span.tag--contentarea span.tag--blankoptions {border:1px solid #4a646f;}
span.tag--contentarea span.tag--blankoption {background-color:#f6f6f6;}
span.tag--contentarea span.tag--blankrange {background-color:#f6f6f6;}
span.tag--contentarea span.tag--blankmask {background-color:#f6f6f6;}
span.tag--contentarea span.tag--hotspots {border:0 none;}
span.tag--contentarea span.tag--hotspot {border:1px solid #7e8d94;}
span.tag--contentarea span.tag--hotpop {border:1px solid #4a646f;}
span.tag--contentarea span.tag--multichoice {border:0 none;}
span.tag--contentarea span.tag--mcquestion {color:#3f515c;font-weight:bold;}
span.tag--contentarea span.tag--mcanswer {padding:3px 25px 3px 25px;background-image:url(crispGreen/def_bullet.gif);width:300px;}
span.tag--contentarea span.tag--mcanswer.pressed {background-image:url(crispGreen/def_pressedbullet.gif);}
span.tag--contentarea span.tag--mcanswer.right {background-image:url(crispGreen/def_rightbullet.gif);}
span.tag--contentarea span.tag--mcanswer.wrong {background-image:url(crispGreen/def_wrongbullet.gif);}
span.tag--contentarea span.tag--variable.projectTitle {font-size:29px;font-weight:bold;color:white;}
span.tag--contentarea span.tag--variable.locationTitle {font-size:21px;font-weight:bold;color:#4a646f;}
span.tag--contentarea span.tag--navchapter {font-weight:bold;font-size:13px;background-image:url(crispGreen/menu_chap.gif);width:239px;color:#3f515c;border:0 none;padding-left:30px;padding-top:4px;background-repeat:no-repeat;height:16px;background-color:transparent;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navchapter {width:163px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navchapter {width:163px;height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navchapter {width:193px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navchapter {height:19px;margin-bottom:6px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;width:153px;}
span.tag--contentarea span.tag--navpage {font-weight:bold;font-size:13px;background-image:url(crispGreen/menu_page.gif);padding-bottom:4px;width:239px;color:#3f515c;border:0 none;padding-left:30px;padding-top:4px;background-repeat:no-repeat;height:16px; 
background-color:transparent;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navpage {width:163px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navpage {width:163px;height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navpage {width:193px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navpage {height:19px;margin-bottom:6px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;width:153px;}
span.tag--contentarea span.tag--navsubchapter {font-weight:bold;font-size:13px;cursor:pointer;color:#3f515c;padding:0;padding-left:25px;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navsubchapter {width:143px;height:19px;margin-top:6px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navsubchapter {width:73px;height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navsubchapter {width:183px;height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #cde183;padding:2px 0 0 25px;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navsubchapter {height:19px;margin-bottom:6px;background:white url(crispGreen/menu_bg.gif) repeat-x;border:1px solid #a4c563;padding:2px 0 0 25px;width:153px;}
span.tag--contentarea span.tag--navsubpage {font-weight:bold;font-size:13px;padding:0;padding-left:25px;color:#3f515c; 
}
span.tag--contentarea span.tag--navmenu.columns span.tag--navsubpage {width:143px;height:19px;margin-top:6px;background:white url(crispGreen/menu_bg.gif) repeat-x;padding:2px 0 0 25px;border:1px solid #cde183;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navsubpage {width:73px;height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;padding:2px 0 0 25px;border:1px solid #cde183;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navsubpage {width:183px;height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;padding:2px 0 0 25px;border:1px solid #cde183;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navsubpage {height:19px;background:white url(crispGreen/menu_bg.gif) repeat-x;padding:2px 0 0 25px;border:1px solid #cde183;width:153px;}
span.tag--contentarea span.tag--navmenulevel {border:1px solid #cde183;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navmenulevel {background-color:#f7f7f7;} 
span.tag--contentarea span.tag--navmenu.bars span.tag--navmenulevel {width:auto;height:auto;} 
span.tag--contentarea span.tag--navmenu.pop span.tag--navmenulevel {padding:8px 8px 0 8px;top:10px;left:220px;background-color:#f7f7f7;width:182px;} 
span.tag--contentarea span.tag--navmarkdone {left:6px;right:auto;background-image:url(crispGreen/menu_done.gif);width:13px;top:4px;height:13px;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navmarkdone {left:4px; 
top:3px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navmarkdone {left:4px; 
top:3px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navmarkdone {left:4px; 
top:3px;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navmarkdone {left:4px; 
top:3px;}
span.tag--contentarea span.tag--navmarkstarted {left:7px;right:auto;background-image:url(crispGreen/menu_started.gif);width:10px;top:11px;height:4px;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navmarkstarted {left:4px; 
top:8px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navmarkstarted {left:4px; 
top:8px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navmarkstarted {left:4px; 
top:8px;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navmarkstarted {left:4px; 
top:8px;}
span.tag--contentarea span.tag--navmarkcurrent {left:-8px;background-image:url(crispGreen/menu_cur.gif);width:6px;top:6px;}
span.tag--contentarea span.tag--navmenu.columns span.tag--navmarkcurrent {top:5px;}
span.tag--contentarea span.tag--navmenu.rows span.tag--navmarkcurrent {top:5px;}
span.tag--contentarea span.tag--navmenu.bars span.tag--navmarkcurrent {top:5px;}
span.tag--contentarea span.tag--navmenu.pop span.tag--navmarkcurrent {top:5px;}
span.tag--contentarea .compactree span.tag--navchapter {color:#3f515c;}
span.tag--contentarea .compactree span.tag--navpage {color:#3f515c;}
span.tag--contentarea span.tag--navcrumbs {font-weight:bold;font-size:10px;}
span.tag--contentarea span.tag--navcrumbsprevious {color:#6a7984;}
span.tag--contentarea span.tag--navcrumbssep {width:25px;height:6px;background:transparent url(crispGreen/def_breadcrumb_ltr.gif) no-repeat center center;}
span.tag--contentarea span.tag--navcrumbscurrent {color:#cde183;}
span.tag--contentarea span.tag--navbutton {width:93px;height:15px;padding-top:6px;border:0px none;background:transparent url(crispGreen/btn.gif) no-repeat center center;font-weight:bold;font-size:9px;color:#3f515c;}
span.tag--contentarea span.tag--navbutton.next {width:75px;padding-right:21px;background:transparent url(crispGreen/btn_next.gif) no-repeat center center;}
span.tag--contentarea span.tag--navbutton.previous {width:76px;padding-left:19px;background:transparent url(crispGreen/btn_prev.gif) no-repeat center center;}
span.tag--contentarea span.tag--navbutton.up {width:35px;padding-right:21px;background:transparent url(crispGreen/btn_up.gif) no-repeat center center;}
span.tag--contentarea span.tag--navbutton.close {background:transparent url(crispGreen/btn_close.gif) no-repeat right center;border:0 none;width:50px;overflow-y:hidden;text-align:left;}
span.tag--contentarea span.tag--navbutton.next_over {background:transparent url(crispGreen/btn_next_over.gif) no-repeat center center;}
span.tag--contentarea span.tag--navbutton.previous_over {background:transparent url(crispGreen/btn_prev_over.gif) no-repeat center center;}
span.tag--contentarea span.tag--navbutton.up_over {width:35px;padding-right:21px;background:transparent url(crispGreen/btn_up_over.gif) no-repeat center center;}
span.tag--contentarea span.tag--navbutton.close_over {background:transparent url(crispGreen/btn_close.gif) no-repeat right center;border:0 none;width:50px;overflow-y:hidden;text-align:left;color:white;}
span.tag--contentarea span.tag--navbutton.next_dis {background-image:url(crispGreen/btn_next_dis.gif);color:silver;}
span.tag--contentarea span.tag--navbutton.previous_dis {background-image:url(crispGreen/btn_prev_dis.gif);color:silver;}
span.tag--contentarea span.tag--navbutton.up_dis {width:35px;background-image:url(crispGreen/btn_up_dis.gif);color:silver;}
span.tag--contentarea span.tag--navbutton.close_dis {background:transparent url(crispGreen/btn_close.gif) no-repeat right center;border:0 none;width:50px;overflow-y:hidden;text-align:left;}
span.tag--contentarea span.tag--navpopup {width:93px;height:16px;border:0px none;background:transparent url(crispGreen/btn.gif) no-repeat center center;font-weight:bold;font-size:9px;color:#3f515c;}
span.tag--contentarea span.tag--navprogress {width:298px;height:18px;border:1px solid #4a646f;font-size:10px;font-weight:bold;color:black;}
span.tag--contentarea span.tag--navprogressdone {background-color:#8cab87;color:black;padding-top:3px;}
span.tag--contentarea span.tag--navprogressnotdone {background-color:#cde183;padding-top:3px;}
span.tag--contentarea span.tag--navtimer span.tag--navprogressnotdone {padding-top:2px;}
span.tag--contentarea span.tag--navlocator {border:1px solid #4a646f;}
span.tag--contentarea span.tag--narratemute {width:27px;height:22px;border:0 none;background-color:transparent;}
span.tag--contentarea span.tag--ccbutton {width:27px;height:22px;border:0 none;background-color:transparent;}
span.tag--contentarea span.tag--ccbox {border:1px solid #6c6e6c;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpstage {border:1px solid #6c6e6c;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpcontrols {border:1px solid #6c6e6c;background:#b9bdb9 url(crispGreen/mpcontrols.gif) repeat-x left 1px;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpplay.over {background:transparent url(crispGreen/mpplayover.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpplay.pauseover {background:transparent url(crispGreen/mppauseover.gif) no-repeat center center;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpslider {border:1px solid #6c6e6c;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpslider span.tag--mpbuffered {border-top:1px solid white;background-color:#cde183;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpslider span.tag--mpplayed {background-color:#8cab87;border-top:1px solid #cde183;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpstatus {background-color:#8cab87;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpvolume {border:1px solid #6c6e6c;}
span.tag--contentarea span.tag--mplayer.theme span.tag--mpsep {border-left:1px solid #6c6e6c;border-right:1px solid #dbe0ce;}
span.tag--contentarea span.tag--blognavhome, span.tag--contentarea span.tag--blognavadd, span.tag--contentarea span.tag--blognavedit, span.tag--contentarea span.tag--blognavdel {font-size:12px;font-weight:bold;border:1px solid #cde183;background-color:#8cab87;color:#d0e793;}
span.tag--contentarea span.tag--blogpost .postDetails {background-color:#cde183;}
span.tag--contentarea span.tag--blog input {border:1px solid black;}
span.tag--contentarea span.tag--blog input {border:1px solid gray;}
span.tag--contentarea span.tag--blog span.tag--richtext {border:1px solid gray;}
span.tag--contentarea span.tag--blogsubmit {border:1px solid #cde183;background-color:#8cab87;color:#d0e793;}
span.tag--contentarea span.tag--blog .over {color:#cde183;}
span.tag--contentarea span.tag--blogcontainer span.tag--vlink {color:black;}
span.tag--contentarea span.tag--blogcontainer span.tag--vlink.over {color:#cde183;}
span.tag--contentarea .docComs span.tag--blognavadd, span.tag--contentarea .docComs span.tag--blognavhome, span.tag--contentarea .docComs span.tag--blogsubmit {border:1px solid #cde183;background-color:#8cab87;color:#d0e793;}
span.tag--contentarea .docComs span.tag--blogpost {border:1px solid gray;}
span.tag--contentarea span.tag--login {border:1px solid #cde183;background-color:#8cab87;color:#d0e793;}
span.tag--contentarea span.tag--loginform {background-color:#fdfdfd;color:#000000;}
span.tag--contentarea span.tag--loginform input {border:1px solid gray;}
span.tag--contentarea span.tag--loginsubmit, span.tag--contentarea span.tag--loginregister {border:1px solid #cde183;background-color:#8cab87;color:#d0e793;}
span.tag--contentarea span.tag--testfeedback {border-style:solid;border-color:#1b9e3c;}
span.tag--contentarea span.tag--tfbresults {background-color:white;border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbsummary {background-color:white;color:#4a646f;}
span.tag--contentarea span.tag--tfbsummary td {border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbpass {background:white url(crispGreen/fb_correct.gif) no-repeat right top;height:43px;border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbfail {background:white url(crispGreen/fb_incorrect.gif) no-repeat right top;height:43px;border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbcustom {background-color:white;border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbsections {background-color:white;color:#4a646f;}
span.tag--contentarea span.tag--tfbsections th {border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbsections td {border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbdetails {background-color:white;color:#4a646f;}
span.tag--contentarea span.tag--tfbdetails th {border:1px solid #cde183;color:#4a646f;}
span.tag--contentarea span.tag--tfbdetails td {border:1px solid #cde183;}
span.tag--contentarea span.tag--tfbdetails .partial {color:#4a646f;}
span.tag--contentarea span.tag--tfbreview {background-color:white;color:#4a646f;}
span.tag--contentarea span.tag--tfbretest {background-color:white;color:#4a646f;}
.mobile span.tag--contentarea span.tag--navbutton {width:74px;height:34px;padding-top:22px;padding-right:0;padding-left:66px;border:0px none;background:transparent url(crispGreen/m_btn.png) no-repeat left top;font-weight:bold;font-size:11px;text-align:left;}
.mobile span.tag--contentarea span.tag--navbutton.next {background:transparent url(crispGreen/m_btn_next.png) no-repeat left top;}
.mobile span.tag--contentarea span.tag--navbutton.previous {background:transparent url(crispGreen/m_btn_prev.png) no-repeat right top;text-align:right;padding-left:0px;padding-right:66px;}
.mobile span.tag--contentarea span.tag--navbutton.next_over {background-image:url(crispGreen/m_btn_next_over.png);}
.mobile span.tag--contentarea span.tag--navbutton.previous_over {background-image:url(crispGreen/m_btn_prev_over.png);}
.mobile span.tag--contentarea span.tag--navbutton.next_dis {background-image:url(crispGreen/m_btn_next_dis.png);color:silver;}
.mobile span.tag--contentarea span.tag--navbutton.previous_dis {background-image:url(crispGreen/m_btn_prev_dis.png);color:silver;}
.mobile span.tag--contentarea span.tag--navbutton.nextchap_over,
.mobile span.tag--contentarea span.tag--navbutton.prevchap_over,
.mobile span.tag--contentarea span.tag--navbutton.up_over,
.mobile span.tag--contentarea span.tag--navbutton.custom_over,
.mobile span.tag--contentarea span.tag--navbutton.back_over,
.mobile span.tag--contentarea span.tag--navbutton.forward_over,
.mobile span.tag--contentarea span.tag--navbutton.refresh_over,
.mobile span.tag--contentarea span.tag--navbutton.close_over,
.mobile span.tag--contentarea span.tag--navbutton.finish_over,
.mobile span.tag--contentarea span.tag--navbutton.print_over {background-image:url(crispGreen/m_btn_over.png);color:#3f515c;}
.mobile span.tag--contentarea span.tag--navbutton.nextchap_dis,
.mobile span.tag--contentarea span.tag--navbutton.prevchap_dis,
.mobile span.tag--contentarea span.tag--navbutton.up_dis,
.mobile span.tag--contentarea span.tag--navbutton.custom_dis,
.mobile span.tag--contentarea span.tag--navbutton.back_dis,
.mobile span.tag--contentarea span.tag--navbutton.forward_dis,
.mobile span.tag--contentarea span.tag--navbutton.refresh_dis,
.mobile span.tag--contentarea span.tag--navbutton.close_dis,
.mobile span.tag--contentarea span.tag--navbutton.finish_dis,
.mobile span.tag--contentarea span.tag--navbutton.print_dis {background-image:url(crispGreen/m_btn_dis.png);}
#oTopLevelLayer #oColorScheme {-cp-scheme: "ffffff,4a646f,1b9e3c,a3c563,2c90cc,67bdf1,703b85,aa81b3,ac5f1e,d58d1a";}